sudo: required
dist: trusty
services:
- docker
before_install:
- docker pull cannin/latex
- docker run -t -v /home/travis/build/cannin/process-descriptions:/latex -w /latex
  cannin/latex /bin/sh -c ". /etc/environment && pdflatex --version && ls -l /latex"
script:
- docker run -t -v /home/travis/build/cannin/process-descriptions:/latex -w /latex
  cannin/latex /bin/sh -c ". /etc/environment && cd /latex/Specification && make"
after_success:
- git clone https://${GH_TOKEN}@github.com/cannin/temp.git tmp
- git config --global user.name "Travis CI" && git config --global user.email "nobody@nobody.org"
- cd tmp && cp /home/travis/build/cannin/process-descriptions/Specification/*.pdf .
- git add . && git commit -m "M8"
- git remote set-url origin https://${GH_TOKEN}@github.com/cannin/temp.git
- git push origin master > /dev/null 2>&1
env:
  global:
  - GITHUB_REPO: cannin/process-descriptions
  - secure: vOe3JvKi29f6pD3nUYC7DxC2RZOJgPgMANEYdQx4l4y0QzKsHhQ1EwqH5V8DwVIhh3CemLyM/IIVmQRxQ8M7E5bffhPMuV2DED2GRQhV7tLSjGkpzBOM+q6reHh6gsGMywpAdyCWLizMprbnhw6C0Zvwy30LAHOgU8e9k+fK7/ci3pffuU9QqJ8yStzgEbgA7fAGpDizA7yZfwH1k/nmF4yYYa8DxTWPbdkr4zDgAfv8dMdBPFSIKv8f/0uaLh8Yk9hw0tenVSpN9SX0XSmsfs/iwu/eOWvhW0eX/hUQZfhh62g7rIngAth/fJXBds+6jKEppRXoC1d469OYLMMZuz4rKTZBooEKpg6xq25a8Dh2TdDRA4Pf2Ng+QhmgeIvQiHLq7YHtRgADXpHL3qx8nbokdEgRsjwiZzZX8G6Zo43HD1EVjtqlh/9gSC+AJOC0oEqacNJ6pRGX+nnpcDgK7tteG62x45uVMUWL0jxMpQUI75ns1ycAld4zT7jq+D472TXjf2NkIL37q8iUO+nPhidxv/RW8jZDNOgEgs7sSM2xndNkxgj6Djo+OxzmYrDX6x4ZKVpuf9HZk3sznzraek+cAt87g835Vcc5xXyN2sCcVzdfZ6m2j4Niiy8yhHV5X7ziYQoW40fO3qs4WeS2LwsH0LtGton7Tmq/Cg1nwho=
